#tests
tests/
runs/

# Data files
data/

# Model weights
model.safetensors

# Python
__pycache__/
.pytest_cache
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
ENV/

# IDE
.DS_Store
.vscode/
.idea/

# Kiro
.kiro/
.aim/
